<a href="https://colab.research.google.com/github/PatiPat76/1842-html-validaciones-master/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hola mundo')

hola mundo

In [ ]:
print('"Escuela de Datos de Alura"')
print ('Nombre: patricia')

print('P')
print('A')

"Escuela de Datos de Alura"
Nombre: patricia
P
A

In [ ]:
nombre = input('Ingrese su nombre: ')
print(f'¡Hola, {nombre}!')

Ingrese su nombre: lll
¡Hola, lll!

In [ ]:
nombre = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad: '))
print(f'¡Hola, {nombre}, tienes {edad} años!')

Ingrese su nombre: patto
Ingrese su edad: 48
¡Hola, patto, tienes 48 años!

In [ ]:
nombre = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad: '))
altura = float(input('Ingrese su altura: '))
print(f'¡Hola, {nombre}, tienes {edad} años y mides {altura} metros!')

Ingrese su nombre: po´po´po
Ingrese su edad: 48
Ingrese su altura: 1.55
¡Hola, po´po´po, tienes 48 años y mides 1.55 metros!

In [ ]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
print(a + b)

Ingrese el primer valor: 8
Ingrese el segundo valor: 0
8

In [ ]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
c = int(input('Ingrese el tercer valor: '))
print(a + b + c)

Ingrese el primer valor: 9
Ingrese el segundo valor: 8
Ingrese el tercer valor: 7
24

In [ ]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
print(a - b)

Ingrese el primer valor: 3
Ingrese el segundo valor: 1
2

In [ ]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
print(a * b)

Ingrese el primer valor: 6
Ingrese el segundo valor: 8
48

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador / denominador)

Ingrese el numerador: 4
Ingrese el denominador (OBS: el valor no puede ser nulo): 2
2.0

In [ ]:
operador = int(input('Ingrese el valor del operador: '))
potencia = int(input('Ingrese el valor de la potencia: '))
print(operador ** potencia)

Ingrese el valor del operador: 5
Ingrese el valor de la potencia: 3
125

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador // denominador)

Ingrese el numerador: 5
Ingrese el denominador (OBS: el valor no puede ser nulo): 3
1

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador % denominador)

In [ ]:
nota_1 = float(input('Ingrese la 1° nota: '))
nota_2 = float(input('Ingrese la 2° nota: '))
nota_3 = float(input('Ingrese la 3° nota: '))
print(f'Media {(nota_1+nota_2+nota_3)/3}.')

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

In [ ]:
frase = '¡Hola Python!'
print(frase)

¡Hola Python!

In [ ]:
frase = input('Escribe una frase: ')
print(frase)

Escribe una frase: ccccc bvnbmnbm
ccccc bvnbmnbm

In [ ]:
frase = input('Escribe una frase: ')
print(frase.upper())

Escribe una frase: yuyjkyuiuo
YUYJKYUIUO

In [ ]:
frase = input('Escribe una frase: ')
print(frase.lower())

Escribe una frase: TTTTT
ttttt

In [ ]:
frase = ' ¡Hola Python! '
print(frase.strip())
#podemos eliminar estos espacios utilizando el método strip y mostrar el resultado en un comando print

¡Hola Python!

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip())

Escribe una frase:                                  fgfhfghjgj
fgfhfghjgj

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip().lower())
#Recopilamos una frase utilizando la función input, incluso si no estamos seguros de si tendrá espacios al principio y al final de la frase. Luego, eliminamos estos espacios
#utilizando el método strip y también usamos el método lower junto con strip. El resultado se puede mostrar en un comando print.

Escribe una frase: dgffdgfh
dgffdgfh

In [ ]:
#Recopilamos una frase utilizando la función input. Para asegurarnos de que los caracteres no estén en mayúsculas, convertimos toda la frase a minúsculas
#utilizando el método lower y luego aplicamos el método replace, definiendo el valor a reemplazar como 'e' y el nuevo valor como 'f'. El resultado se muestra en un comando print.
frase = input('Escribe una frase: ')
print(frase.lower().replace('e','f'))

Escribe una frase: ceref
cfrff

In [ ]:
#Recopilamos una frase utilizando la función input. Para asegurarnos de que los caracteres no estén en mayúsculas, convertimos toda la frase a minúsculas utilizando el método
#lower y luego aplicamos el método replace, definiendo el valor a reemplazar como 'a' y el nuevo valor como el carácter 64 según la tabla Unicode, que corresponde al carácter @.
#El resultado se muestra en un comando print.

frase = input('Escribe una frase: ')
print(frase.lower().replace('a',chr(64)))

Escribe una frase: caracas
c@r@c@s

In [ ]:
#Recopilamos una frase utilizando la función input. Para asegurarnos de que los caracteres no estén en mayúsculas, convertimos toda la frase a minúsculas utilizando el método
#lower y luego aplicamos el método replace, definiendo el valor a reemplazar como 's' y el nuevo valor como el carácter 36 según la tabla Unicode, que corresponde al símbolo $.
#El resultado se muestra en un comando print.

frase = input('Escribe una frase: ')
print(frase.lower().replace('s',chr(36)))

Escribe una frase: fgfhhgjjhgsssssssssssssssssssssss
fgfhhgjjhg$$$$$$$$$$$$$$$$$$$$$$$

In [6]:
texto = '''
a
t
d
f
g
h
'''

print(texto)

a
t
d
f
g
h